# Python
__pycache__/
*.py[cod]
*.pyc
*.pyo

# Ruff
.ruff_cache/

# Pytest
.pytest_cache/

# IDE
.idea/
.vscode/

# OS
.DS_Store

# Test files
test_*.py
*_test.py

# ESPHome secrets
esphome-controller/secrets.yaml
esphome-controller/boards/secrets.yaml