# ESPHome
.esphome/
.esp32
.esp32-c3
.pio
.pioenvs
.piolibdeps
.clang_complete
.esp-idf

# Python
__pycache__/
*.py[cod]
*.pyc
*.pyo

# Ruff
.ruff_cache/

# Pytest
.pytest_cache/

# IDE
.idea/
.vscode/

# OS
.DS_Store

# Test files
test_*.py
*_test.py

# ESPHome secrets
esphome-controller/secrets.yaml
esphome-controller/boards/secrets.yaml